/*
Error: Invalid CSS after "...  "newPassword"": expected "{", was ";"
        on line 9 of newPassword.scss

4: 
5: 
6: // Import partials from `sass_dir` (defaults to `_sass`)
7: @import
8:         "newPassword"
9: ;

Backtrace:
newPassword.scss:9
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:1207:in `expected'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:1137:in `expected'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:1132:in `tok!'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:665:in `block'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:658:in `ruleset'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:684:in `block_child'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:674:in `block_contents'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:125:in `stylesheet'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:41:in `parse'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/engine.rb:406:in `_to_tree'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:391:in `run'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
C:/Ruby24-x64/bin/sass:23:in `load'
C:/Ruby24-x64/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...  \"newPassword\"\": expected \"{\", was \";\"\A         on line 9 of newPassword.scss\A \A 4: \A 5: \A 6: // Import partials from `sass_dir` (defaults to `_sass`)\A 7: @import\A 8:         \"newPassword\"\A 9: ;"; }
