.input-group.border-under
  border: none
  .input-group-text
    border: none
    background-color: unset
    border-radius: unset
    color: $blue
  .form-control
    border-radius: unset
    border: none
    border-bottom: solid 1px $gray-blur
    padding-left: 0
    color: gray
    font-family: SFUIText-LightItalic, sans-serif

.bootstrap-select .btn:focus
  outline: none !important