$radius-alert: px2rem(5)
$size: px2rem(16)
@mixin alertDefault($background, $color, $colora)
    background-color: $background
    color: $color
    border-radius: $radius-alert
    font-size: $size
    @extend .box-shadow-alert
    .alert-link
        color: $colora
        font-style: italic
@mixin alertLight($background, $color, $colora)
    background-color: $background
    color: $color
    border-radius: $radius-alert
    font-size: $size
    .alert-link
        color: $colora
        font-weight: bold
@mixin alertBorder($color)
    border-color: $color
    font-size: $size
    color: $color
    border-radius: px2rem(100)
    .alert-link
        color: $color
        font-weight: bold
    i
        font-size: px2rem(20)
        padding-right: px2rem(10)
.alert-primary
    @include alertDefault($blue, $white, $gray)
.alert-secondary
    @include alertDefault($secondary,$white, $gray-blur)
.alert-success
    @include alertDefault($green,$white, $gray)
.alert-danger
    @include alertDefault($orange,$white, $gray)
.alert-warning
    @include alertDefault($yellow, $white, $gray)
.alert-info
    @include alertDefault($dark-green, $white, $secondary)
.alert-light
    @include alertDefault($white, $black-75, $blue)
.alert-dark
    @include alertDefault($gray, $white, $blue)
.alert-primary-light
    @include alertLight($blue-blur, $blue, $blue)
.alert-secondary-light
    @include alertLight($secondary-blur,$secondary, $secondary)
.alert-success-light
    @include alertLight($green-blur,$green, $green)
    .alert-heading,.mb-0
        color: $dark-green
.alert-danger-light
    @include alertLight($orange-blur,$orange, $orange)
.alert-warning-light
    @include alertLight($yellow-blur, $yellow, $yellow)
.alert-info-light
    @include alertLight($dark-green-blur, $dark-green, $dark-green)
.alert-light-light
    @include alertLight($white, $black-75, $black-75)
.alert-dark-light
    @include alertLight($gray-blur, $gray, $gray)
.alert-primary-border
    @include alertBorder($blue)
.alert-secondary-border
    @include alertBorder($secondary)
.alert-success-border
    @include alertBorder($green)
.alert-danger-border
    @include alertBorder($orange)
.alert-warning-border
    @include alertBorder($yellow)
.alert-info-border
    @include alertBorder($dark-green)
.alert-dark-border
    @include alertBorder($gray)
.alert-success-addition
    @include alertBorder($green)
    border-radius: $radius-alert
.alert-with-icon
    display: flex
    align-items: center