@import "w3-functions"
.login
  .left
    .logo
      margin-bottom: 5rem

  .right
    background-image: url("../images/BG1.svg")
    background-repeat: no-repeat
    background-color: #EEF8FF
    background-size: 200% 150%
    padding-top: px2rem(242)

    .col
      width: 570px
      max-width: 100%
.welcome-hidden
  visibility: hidden
@include media-breakpoint-down(sm)
    .custom-control-label
      font-size: 14px
    .welcome-hidden
      visibility: visible
    .btn-xlg
      min-width: 100%
      justify-content: center
    .large-checkbox.right-checkbox
      padding-right: 3.2rem
      margin-top: 12%
    .right-content
      .col
        visibility: hidden
    .login
      position: absolute
      .left
        background-image: url("../images/BG1.svg")
        background-repeat: no-repeat
        background-blend-mode: overlay
        background-color: hsla(0,0%,100%,0.70)
        background-size: 127% 171%
        background-position: -125% -8%
        z-index: 10
        .middle
          margin-bottom: 0rem
          .input-group
            margin-bottom: 1rem
            .input-group-text
              i
                font-size: 1.3rem
        .content-center-vip
          width: 90%
          padding-bottom: 50%
          padding-top: 18%
          .logo
            margin-bottom: 2rem
            margin-left: 8%
      .right
        background-origin: content-box
        background-color: #FFFFFF
        background-size: 210% 195%
        position: fixed
        background-image: none
        bottom: 0
        opacity: 0.5
    .form-content-bd
      .input-group
        input
          font-size: 90%
          height: px2rem(26.36)
    .border-under
      width: 95%
    .forget-pass
      font-size: px2rem(14)
      font-style: italic
      text-align: center
      padding-top: 1rem
    .form-submit-login
      flex-direction: column-reverse !important
      a
        width: 90%
      .submit-login
        .btn-xlg
          margin-top: -7%
          height: 45px
          padding: 0
          font-size: px2rem(16)
    .right-checkbox
      line-height: 1rem
      .custom-control-label
        &::after,&::before
          width: 3px
          width: 18px
          height: 18px
          