---
layout: component
title: Alert - Components
permalink: /components/alert/
---
<div class="row col-12 container" style="width: 100%">
    <div class="col-4">
        <div class="col-12">
            <h4 class="text-center">Default</h4>
            <div class="alert alert-primary" role="alert">
                A simple primary alert—check it out!
            </div>
            <div class="alert alert-secondary" role="alert">
                A simple secondary alert—check it out!
            </div>
            <div class="alert alert-success" role="alert">
                A simple success alert—check it out!
            </div>
            <div class="alert alert-danger" role="alert">
                A simple danger alert—check it out!
            </div>
            <div class="alert alert-warning" role="alert">
                A simple warning alert—check it out!
            </div>
            <div class="alert alert-info" role="alert">
                A simple info alert—check it out!
            </div>
            <div class="alert alert-light" role="alert">
                A simple light alert—check it out!
            </div>
            <div class="alert alert-dark" role="alert">
                A simple dark alert—check it out!
            </div>
        </div>
        <div class="col-12">
            <h4>Link color</h4>
            <div class="alert alert-primary" role="alert">
                This is a primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you
                like.
            </div>
            <div class="alert alert-secondary" role="alert">
                This is a secondary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if
                you like.
            </div>
            <div class="alert alert-success" role="alert">
                This is a success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you
                like.
            </div>
            <div class="alert alert-danger" role="alert">
                This is a danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you
                like.
            </div>
            <div class="alert alert-warning" role="alert">
                This is a warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you
                like.
            </div>
            <div class="alert alert-info" role="alert">
                This is a info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you
                like.
            </div>
            <div class="alert alert-light" role="alert">
                This is a light alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you
                like.
            </div>
            <div class="alert alert-dark" role="alert">
                This is a dark alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you
                like.
            </div>
        </div>
        <div class="col-12">
            <h4>Dismissing</h4>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                Holy! You should check in on some of those fields below.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="col-12">
            <h4>Addition content</h4>
            <div class="alert alert-success" role="alert">
                <h5 class="alert-heading">Well done!</h5>
                <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit
                    longer so that you can see how spacing within an alert works with this kind of content.</p>
                <hr>
                <p class="mb-0">Whenever you need to, be sure to use margin utilities</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="col-12">
            <h4 class="text-center">Light Style</h4>
            <div class="alert alert-primary-light" role="alert">
                A simple primary alert—check it out!
            </div>
            <div class="alert alert-secondary-light" role="alert">
                A simple secondary alert—check it out!
            </div>
            <div class="alert alert-success-light" role="alert">
                A simple success alert—check it out!
            </div>
            <div class="alert alert-danger-light" role="alert">
                A simple danger alert—check it out!
            </div>
            <div class="alert alert-warning-light" role="alert">
                A simple warning alert—check it out!
            </div>
            <div class="alert alert-info-light" role="alert">
                A simple info alert—check it out!
            </div>
            <div class="alert alert-light-light" role="alert">
                A simple light alert—check it out!
            </div>
            <div class="alert alert-dark-light" role="alert">
                A simple dark alert—check it out!
            </div>
        </div>
        <div class="col-12">
            <h4>Link color</h4>
            <div class="alert alert-primary-light" role="alert">
                This is a primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you
                like.
            </div>
            <div class="alert alert-secondary-light" role="alert">
                This is a secondary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if
                you like.
            </div>
            <div class="alert alert-success-light" role="alert">
                This is a success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you
                like.
            </div>
            <div class="alert alert-danger-light" role="alert">
                This is a danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you
                like.
            </div>
            <div class="alert alert-warning-light" role="alert">
                This is a warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you
                like.
            </div>
            <div class="alert alert-info-light" role="alert">
                This is a info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you
                like.
            </div>
            <div class="alert alert-light-light" role="alert">
                This is a light alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you
                like.
            </div>
            <div class="alert alert-dark-light" role="alert">
                This is a dark alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you
                like.
            </div>
        </div>
        <div class="col-12">
            <h4>Dismissing</h4>
            <div class="alert alert-warning-light alert-dismissible fade show" role="alert">
                Holy! You should check in on some of those fields below.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="col-12">
            <h4>Addition content</h4>
            <div class="alert alert-success-light" role="alert">
                <h5 class="alert-heading">Well done!</h5>
                <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit
                    longer so that you can see how spacing within an alert works with this kind of content.</p>
                <hr>
                <p class="mb-0">Whenever you need to, be sure to use margin utilities</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="col-12">
            <h4 class="text-center">Border Style</h4>
            <div class="alert alert-primary-border alert-dismissible fade show" role="alert">
                Holy! You should check in on some of those fields below.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-secondary-border alert-dismissible fade show" role="alert">
                Holy! You should check in on some of those fields below.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-success-border alert-dismissible fade show" role="alert">
                Holy! You should check in on some of those fields below.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-danger-border alert-dismissible fade show" role="alert">
                Holy! You should check in on some of those fields below.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-warning-border alert-dismissible fade show" role="alert">
                Holy! You should check in on some of those fields below.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-info-border alert-dismissible fade show" role="alert">
                Holy! You should check in on some of those fields below.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-dark-border alert-dismissible fade show" role="alert">
                Holy! You should check in on some of those fields below.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="col-12">
            <h4>Link color</h4>
            <div class="alert alert-primary-border" role="alert">
                This is a primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you
                like.
            </div>
            <div class="alert alert-secondary-border" role="alert">
                This is a secondary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if
                you like.
            </div>
            <div class="alert alert-success-border" role="alert">
                This is a success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you
                like.
            </div>
            <div class="alert alert-danger-border" role="alert">
                This is a danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you
                like.
            </div>
            <div class="alert alert-warning-border" role="alert">
                This is a warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you
                like.
            </div>
            <div class="alert alert-info-border" role="alert">
                This is a info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you
                like.
            </div>
            <div class="alert alert-dark-border" role="alert">
                This is a dark alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you
                like.
            </div>
        </div>
        <div class="col-12">
            <h4>Addition content</h4>
            <div class="alert alert-success-addition" role="alert">
                <h5 class="alert-heading">Well done!</h5>
                <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit
                    longer so that you can see how spacing within an alert works with this kind of content.</p>
                <hr>
                <p class="mb-0">Whenever you need to, be sure to use margin utilities</p>
            </div>
        </div>
        <div class="col-12">
            <h4>Alert with icon</h4>
            <div class="alert alert-danger-border alert-with-icon" role="alert">
                <i class="icon-alert-triangle"> </i>
                Oh snap! Change a few things up and try submitting again.
            </div>
            <div class="alert alert-success-border alert-with-icon" role="alert">
                <i class="icon-check"> </i>
                Well done! you successfully read this alert message.
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>