---
layout: component
title: Breadcrumb - Components
permalink: /components/breadcrumb/
---
<div class="container">
    <h1>Breadcrumb</h1>
    <h5>Default</h5>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Posts</a></li>
            <li class="breadcrumb-item active" aria-current="page">New Post</li>
        </ol>
    </nav>
    <xmp>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Posts</a></li>
                <li class="breadcrumb-item active" aria-current="page">New Post</li>
            </ol>
        </nav>
    </xmp>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-primary breadcrumb-bg">
            <li class="breadcrumb-item"><a href="#" class="text-white">Home</a></li>
            <li class="breadcrumb-item"><a href="#" class="text-white">Posts</a></li>
            <li class="breadcrumb-item active" aria-current="page">New Post</li>
        </ol>
    </nav>
    <xmp>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-primary breadcrumb-bg">
                <li class="breadcrumb-item"><a href="#" class="text-white">Home</a></li>
                <li class="breadcrumb-item"><a href="#" class="text-white">Posts</a></li>
                <li class="breadcrumb-item active" aria-current="page">New Post</li>
            </ol>
        </nav>
    </xmp>
    <h5>Custom</h5>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-custom">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Posts</a></li>
            <li class="breadcrumb-item active" aria-current="page">New Post</li>
        </ol>
    </nav>
    <xmp>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-custom">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Posts</a></li>
                <li class="breadcrumb-item active" aria-current="page">New Post</li>
            </ol>
        </nav>
    </xmp>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-primary breadcrumb-bg-custom">
            <li class="breadcrumb-item"><a href="#" class="text-white">Home</a></li>
            <li class="breadcrumb-item"><a href="#" class="text-white">Posts</a></li>
            <li class="breadcrumb-item active" aria-current="page">New Post</li>
        </ol>
    </nav>
    <xmp>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-primary breadcrumb-bg-custom">
                <li class="breadcrumb-item"><a href="#" class="text-white">Home</a></li>
                <li class="breadcrumb-item"><a href="#" class="text-white">Posts</a></li>
                <li class="breadcrumb-item active" aria-current="page">New Post</li>
            </ol>
        </nav>
    </xmp>
</div>