---
layout: component
title: Buttons - Components
permalink: /components/buttons/
---
<style>
    /* W3suga css layout view not components*/
    button{
        margin: 10px;
    }
</style>
<div class="container">
    <div class="">
        <h1>Buttons</h1>
        <p>Use w3suga custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more.</p>
    </div>
    <div class="">
        <h3>Default</h3>
        <div class="col-12">
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-light">Light</button>
            <button type="button" class="btn btn-dark">Dark</button>
            <button type="button" class="btn btn-link">Link</button>
        </div>
        <div class="col-12">
           <xmp>
               <button type="button" class="btn btn-primary">Primary</button>
               <button type="button" class="btn btn-secondary">Secondary</button>
               <button type="button" class="btn btn-success">Success</button>
               <button type="button" class="btn btn-danger">Danger</button>
               <button type="button" class="btn btn-warning">Warning</button>
               <button type="button" class="btn btn-info">Info</button>
               <button type="button" class="btn btn-light">Light</button>
               <button type="button" class="btn btn-dark">Dark</button>
               <button type="button" class="btn btn-link">Link</button>
           </xmp>
        </div>
    </div>
    <div class="">
        <h3>Outline buttons</h3>
        <div class="col-12">
            <button type="button" class="btn btn-outline-primary">Primary</button>
            <button type="button" class="btn btn-outline-secondary">Secondary</button>
            <button type="button" class="btn btn-outline-success">Success</button>
            <button type="button" class="btn btn-outline-danger">Danger</button>
            <button type="button" class="btn btn-outline-warning">Warning</button>
            <button type="button" class="btn btn-outline-info">Info</button>
            <button type="button" class="btn btn-outline-light">Light</button>
            <button type="button" class="btn btn-outline-dark">Dark</button>
        </div>
        <div class="col-12">
            <xmp>
                <button type="button" class="btn btn-outline-primary">Primary</button>
                <button type="button" class="btn btn-outline-secondary">Secondary</button>
                <button type="button" class="btn btn-outline-success">Success</button>
                <button type="button" class="btn btn-outline-danger">Danger</button>
                <button type="button" class="btn btn-outline-warning">Warning</button>
                <button type="button" class="btn btn-outline-info">Info</button>
                <button type="button" class="btn btn-outline-light">Light</button>
                <button type="button" class="btn btn-outline-dark">Dark</button>
            </xmp>
        </div>
    </div>
    <div class="">
        <h3>Sizes</h3>
        <p>Fancy larger or smaller buttons? Add <code>.btn-lg</code> or <code>.btn-sm</code> for additional sizes.</p>

        <div class="col-12">
            <button type="button" class="btn btn-primary btn-lg">Large button</button>
            <button type="button" class="btn btn-secondary btn-lg">Large button</button>
        </div>
        <div class="col-12">
            <xmp>
                <button type="button" class="btn btn-primary btn-lg">Large button</button>
                <button type="button" class="btn btn-secondary btn-lg">Large button</button>
            </xmp>
        </div>

        <div class="col-12">
            <button type="button" class="btn btn-primary btn-sm">Small button</button>
            <button type="button" class="btn btn-secondary btn-sm">Small button</button>
        </div>
        <div class="col-12">
            <xmp>
                <button type="button" class="btn btn-primary btn-sm">Small button</button>
                <button type="button" class="btn btn-secondary btn-sm">Small button</button>
            </xmp>
        </div>

        <div class="col-12">
            <p>Create block level buttons—those that span the full width of a parent—by adding <code>.btn-block.</code></p>
            <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>
        </div>
        <div class="col-12">
            <xmp>
                <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
                <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>
            </xmp>
        </div>

    </div>
    <div class="">
        <h3>Active state</h3>
        <p>Buttons will appear pressed (with a darker background, darker border, and inset shadow) when active. There’s no need to add a class to <code><i><</i>button<i>></i></code>s as they use a pseudo-class.
            However, you can still force the same active appearance with <code>.active</code> (and include the <code>aria-pressed="true"</code> attribute) should you need to replicate the state programmatically.</p>
        <div class="col-12">
            <button type="button" class="btn btn-primary active">Primary</button>
            <button type="button" class="btn btn-secondary active">Secondary</button>
            <button type="button" class="btn btn-success active">Success</button>
            <button type="button" class="btn btn-danger active">Danger</button>
            <button type="button" class="btn btn-warning active">Warning</button>
            <button type="button" class="btn btn-info active">Info</button>
            <button type="button" class="btn btn-light active">Light</button>
            <button type="button" class="btn btn-dark active">Dark</button>
            <button type="button" class="btn btn-link active">Link</button>
        </div>
        <div class="col-12">
            <xmp>
                <button type="button" class="btn btn-primary active">Primary</button>
                <button type="button" class="btn btn-secondary active">Secondary</button>
                <button type="button" class="btn btn-success active">Success</button>
                <button type="button" class="btn btn-danger active">Danger</button>
                <button type="button" class="btn btn-warning active">Warning</button>
                <button type="button" class="btn btn-info active">Info</button>
                <button type="button" class="btn btn-light active">Light</button>
                <button type="button" class="btn btn-dark active">Dark</button>
                <button type="button" class="btn btn-link active">Link</button>
            </xmp>
        </div>
    </div>
    <div class="">
        <h3>Disabled state</h3>
        <div class="col-12">
            <a href="#" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Primary link</a>
            <a href="#" class="btn btn-link  btn-lg disabled" role="button" aria-disabled="true">Link</a>
        </div>
        <div class="col-12">
            <xmp>
                <a href="#" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Primary link</a>
                <a href="#" class="btn btn-link btn-lg disabled" role="button" aria-disabled="true">Link</a>
            </xmp>
        </div>
    </div>
    <div class="">
        <h3>button Plugin</h3>
        <div class="col-12">
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                Single toggle
            </button>
        </div>
        <div class="col-12">
            <xmp>
                <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Single toggle
                </button>
            </xmp>
        </div>
        <div class="col-12">
            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="checkbox" checked autocomplete="off"> Checked
                </label>
            </div>
        </div>
        <div class="col-12">
            <xmp>
                <div class="btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="checkbox" checked autocomplete="off"> Checked
                    </label>
                </div>
            </xmp>
        </div>
        <div class="col-12">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Radio
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Radio
                </label>
            </div>
        </div>
        <div class="col-12">
            <xmp>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="options" id="option2" autocomplete="off"> Radio
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="options" id="option3" autocomplete="off"> Radio
                    </label>
                </div>
            </xmp>
        </div>
    </div>
    <div class="">
        <h3>button shadown</h3>
        <div class="col-12">
            <button type="button" class="btn btn-primary shadow">Primary</button>
            <button type="button" class="btn btn-secondary shadow">Secondary</button>
            <button type="button" class="btn btn-success shadow">Success</button>
            <button type="button" class="btn btn-danger shadow">Danger</button>
            <button type="button" class="btn btn-warning shadow">Warning</button>
            <button type="button" class="btn btn-info shadow">Info</button>
            <button type="button" class="btn btn-light shadow">Light</button>
            <button type="button" class="btn btn-dark shadow">Dark</button>
            <button type="button" class="btn btn-link shadow">Link</button>
        </div>
        <div class="col-12">
            <xmp>
                <button type="button" class="btn btn-primary shadow">Primary</button>
                <button type="button" class="btn btn-secondary shadow">Secondary</button>
                <button type="button" class="btn btn-success shadow">Success</button>
                <button type="button" class="btn btn-danger shadow">Danger</button>
                <button type="button" class="btn btn-warning shadow">Warning</button>
                <button type="button" class="btn btn-info shadow">Info</button>
                <button type="button" class="btn btn-light shadow">Light</button>
                <button type="button" class="btn btn-dark shadow">Dark</button>
                <button type="button" class="btn btn-link shadow">Link</button>
            </xmp>
        </div>
    </div>
    <div class="">
        <h3>button with icon</h3>
        <p>Icon in https://feathericons.com/</p>
        <div class="col-12">
            <button type="button" class="btn btn-outline-primary btn-lg">Primary <i class="icon-gift"></i></button>
            <button type="button" class="btn btn-success">Primary <i class="icon-gift"></i></button>
            <button type="button" class="btn btn-danger btn-sm">Primary <i class="icon-gift"></i></button>
        </div>
        <div class="col-12">
            <xmp>
                <button type="button" class="btn btn-outline-primary btn-lg">Primary <i class="icon-gift"></i></button>
                <button type="button" class="btn btn-success">Primary <i class="icon-gift"></i></button>
                <button type="button" class="btn btn-danger btn-sm">Primary <i class="icon-gift"></i></button>
            </xmp>
        </div>
        <p><code>.btn-icon</code></p>
        <div class="col-12">
            <button type="button" class="btn btn-danger btn-icon"><i class="icon-trash-2"></i></button>
            <button type="button" class="btn btn-outline-danger btn-icon"><i class="icon-trash-2"></i></button>
        </div>
        <div class="col-12">
            <xmp>
                <button type="button" class="btn btn-danger btn-icon"><i class="icon-trash-2"></i></button>
                <button type="button" class="btn btn-outline-danger btn-icon"><i class="icon-trash-2"></i></button>
            </xmp>
        </div>
    </div>
    <div class="">
        <h3>radius</h3>
        <p><code>.radius-0 .radius-1 ... .radius-5 (0.5rem)</code> </p>
        <div class="col-12">
            <button type="button" class="btn btn-primary radius-5">Primary</button>
            <button type="button" class="btn btn-outline-secondary radius-5">Secondary</button>
            <button type="button" class="btn btn-danger btn-icon radius-5 "><i class="icon-trash-2"></i></button>
            <button type="button" class="btn btn-outline-danger btn-icon radius-5"><i class="icon-trash-2"></i></button>
        </div>
        <div class="col-12">
            <xmp>
                <button type="button" class="btn btn-primary radius-5">Primary</button>
                <button type="button" class="btn btn-outline-secondary radius-5">Secondary</button>
                <button type="button" class="btn btn-danger btn-icon radius-5"><i class="icon-trash-2"></i></button>
                <button type="button" class="btn btn-outline-danger btn-icon radius-5"><i class="icon-trash-2"></i></button>
            </xmp>
        </div>
    </div>
    <div class="">
        <h3>button gradient bg</h3>
        <p><code>.{name}-primary</code></p>
        <div class="col-12">
            <button type="button" class="btn btn-primary gradient-primary radius-5 px-5">Primary</button>
            <button type="button" class="btn btn-secondary gradient-secondary radius-5 px-5">Secondary</button>
            <button type="button" class="btn btn-success gradient-success radius-5 px-5">Success</button>
            <button type="button" class="btn btn-danger gradient-danger radius-5 px-5">Danger</button>
            <button type="button" class="btn btn-warning gradient-warning radius-5 px-5">Warning</button>
            <button type="button" class="btn btn-info gradient-info radius-5 px-5">Info</button>
        </div>
        <div class="col-12">
            <xmp>
                <button type="button" class="btn btn-primary gradient-primary radius-5 px-5">Primary</button>
                <button type="button" class="btn btn-secondary gradient-secondary radius-5 px-5">Secondary</button>
                <button type="button" class="btn btn-success gradient-success radius-5 px-5">Success</button>
                <button type="button" class="btn btn-danger gradient-danger radius-5 px-5">Danger</button>
                <button type="button" class="btn btn-warning gradient-warning radius-5 px-5">Warning</button>
                <button type="button" class="btn btn-info gradient-info radius-5 px-5">Info</button>
            </xmp>
        </div>
    </div>
</div>