---
layout: component
title: Popover - Components
permalink: /components/popover/
---
<div class="container">
    <h1>Popovers</h1>
    <h5>Default</h5>
    <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="top"
            data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
        Top
    </button>

    <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="right"
            data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
        Right
    </button>

    <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="bottom"
            data-content="Vivamus
      sagittis lacus vel augue laoreet rutrum faucibus.">
        Bottom
    </button>

    <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="left"
            data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
        Left
    </button>
    <xmp>
        <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="top"
                data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Top
        </button>

        <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="right"
                data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Right
        </button>

        <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover"
                data-placement="bottom" data-content="Vivamus
          sagittis lacus vel augue laoreet rutrum faucibus.">
            Bottom
        </button>

        <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="left"
                data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Left
        </button>
    </xmp>
    <h5>Title</h5>
    <button type="button" title="Popover title" class="btn btn-primary" data-container="body" data-toggle="popover"
            data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
        Top
    </button>

    <button type="button" title="Popover title" class="btn btn-primary" data-container="body" data-toggle="popover"
            data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
        Right
    </button>

    <button type="button" title="Popover title" class="btn btn-primary" data-container="body" data-toggle="popover"
            data-placement="bottom" data-content="Vivamus
        sagittis lacus vel augue laoreet rutrum faucibus.">
        Bottom
    </button>

    <button type="button" title="Popover title" class="btn btn-primary" data-container="body" data-toggle="popover"
            data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
        Left
    </button>
    <xmp>
        <button type="button" title="Popover title" class="btn btn-primary" data-container="body" data-toggle="popover"
                data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Top
        </button>

        <button type="button" title="Popover title" class="btn btn-primary" data-container="body" data-toggle="popover"
                data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Right
        </button>

        <button type="button" title="Popover title" class="btn btn-primary" data-container="body" data-toggle="popover"
                data-placement="bottom" data-content="Vivamus
          sagittis lacus vel augue laoreet rutrum faucibus.">
            Bottom
        </button>

        <button type="button" title="Popover title" class="btn btn-primary" data-container="body" data-toggle="popover"
                data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Left
        </button>
    </xmp>
    <h5>Disabled elements</h5>
    <span class="d-inline-block" data-toggle="popover" data-content="Disabled popover">
        <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled>Disabled button</button>
    </span>
    <xmp>
        <span class="d-inline-block" data-toggle="popover" data-content="Disabled popover">
            <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled>Disabled
                button</button>
        </span>
    </xmp>
    <h5>Title with light BG</h5>
    <button type="button" title="Popover title" class="btn btn-primary" data-container="body"
            data-toggle="popoverLight" data-placement="top"
            data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
        Top
    </button>
    <button type="button" title="Popover title" class="btn btn-primary" data-container="body"
            data-toggle="popoverLight" data-placement="right"
            data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
        Right
    </button>
    <button type="button" title="Popover title" class="btn btn-primary" data-container="body"
            data-toggle="popoverLight" data-placement="left"
            data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
        Left
    </button>
    <button type="button" title="Popover title" class="btn btn-primary" data-container="body"
            data-toggle="popoverLight" data-placement="bottom"
            data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
        Bottom
    </button>
    <xmp>
        <button type="button" title="Popover title" class="btn btn-primary" data-container="body"
                data-toggle="popoverLight" data-placement="top"
                data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Top
        </button>
        <button type="button" title="Popover title" class="btn btn-primary" data-container="body"
                data-toggle="popoverLight" data-placement="right"
                data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Right
        </button>
        <button type="button" title="Popover title" class="btn btn-primary" data-container="body"
                data-toggle="popoverLight" data-placement="left"
                data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Left
        </button>
        <button type="button" title="Popover title" class="btn btn-primary" data-container="body"
                data-toggle="popoverLight" data-placement="bottom"
                data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Bottom
        </button>
    </xmp>
</div>