---
layout: component
title: Card
permalink: /card/
---
<div class="container">
  <div class="col-12">
    <h1>Card</h1>
    <h5>Dafault</h5>
  </div>
  <div class="row col-12 container">
    <div class="col-6">
      <div class="card">
        <img src="https://place-hold.it/500x270/010157/FFFFFF" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary radius-5 shadow">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <xmp>
        <div class="card">
          <img src="https://place-hold.it/500x270/010157/FFFFFF" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary radius-5 shadow">Go somewhere</a>
          </div>
        </div>
      </xmp>
    </div>
    <div class="col-6">
      <div class="card">
        <img src="https://place-hold.it/500x270/010157/FFFFFF&text=image%20cap" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <xmp>
        <div class="card">
          <img src="https://place-hold.it/500x270/010157/FFFFFF&text=image%20cap" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </xmp>
    </div>
    <div class="col-6">
      <div class="card">
        <img src="https://place-hold.it/500x270/010157/FFFFFF" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary radius-5 shadow">Go somewhere</a>
          <a href="#" class="btn btn-danger radius-5 shadow">Button</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <xmp>
        <div class="card">
          <img src="https://place-hold.it/500x270/010157/FFFFFF" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary radius-5 shadow">Go somewhere</a>
            <a href="#" class="btn btn-danger radius-5 shadow">Button</a>
          </div>
        </div>
      </xmp>
    </div>
    <div class="col-12">
      <div class="">
        <h5>Header and footer</h5>
      </div>
      <div class="card">
        <div class="card-header bg-primary text-white">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary radius-5 shadow">Go somewhere</a>
          <a href="#" class="btn btn-danger radius-5 shadow">Button</a>
        </div>
      </div>
      <xmp>
        <div class="card">
          <div class="card-header bg-primary text-white">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary radius-5 shadow">Go somewhere</a>
            <a href="#" class="btn btn-danger radius-5 shadow">Button</a>
          </div>
        </div>
      </xmp>
      <div class="card">
        <div class="card-header bg-primary text-white">
          Quote
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
          <a href="#" class="btn btn-primary radius-5 shadow">Go somewhere</a>
        </div>
      </div>
      <xmp>
        <div class="card">
          <div class="card-header bg-primary text-white">
            Quote
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
              </footer>
            </blockquote>
            <a href="#" class="btn btn-primary radius-5 shadow">Go somewhere</a>
          </div>
        </div>
      </xmp>
      <div class="card text-center">
        <div class="card-header bg-primary text-white">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary radius-5 shadow float-none">Go somewhere</a>
        </div>
        <div class="card-footer text-black">
          2 day ago
        </div>
      </div>
      <xmp>
        <div class="card text-center">
          <div class="card-header bg-primary text-white">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary radius-5 shadow float-none">Go somewhere</a>
          </div>
          <div class="card-footer text-black">
            2 days ago
          </div>
        </div>
      </xmp>
      <div class="card text-center">
        <div class="card-header bg-primary-blur">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary radius-5 shadow float-none">Go somewhere</a>
        </div>
        <div class="card-footer text-black">
          2 day ago
        </div>
      </div>
      <xmp>
        <div class="card text-center">
          <div class="card-header bg-primary-blur">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary radius-5 shadow float-none">Go somewhere</a>
          </div>
          <div class="card-footer text-black">
            2 day ago
          </div>
        </div>
      </xmp>
      <h5>Using grid markup</h5>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.With supporting
                text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to
                additional content.With supporting text below as a natural lead-in to additional content.With supporting
                text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary radius-5 shadow">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.With supporting
                text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to
                additional content.With supporting text below as a natural lead-in to additional content.With supporting
                text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary radius-5 shadow">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
      <xmp>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.With
                  supporting
                  text below as a natural lead-in to additional content.With supporting text below as a natural lead-in
                  to
                  additional content.With supporting text below as a natural lead-in to additional content.With
                  supporting
                  text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary radius-5 shadow">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.With
                  supporting
                  text below as a natural lead-in to additional content.With supporting text below as a natural lead-in
                  to
                  additional content.With supporting text below as a natural lead-in to additional content.With
                  supporting
                  text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary radius-5 shadow">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </xmp>
    </div>
    <div class="col-12">
      <h5>Navigation</h5>
      <div class="card text-center">
        <div class="card-header bg-primary">
          <ul class="nav nav-border-bottom">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text text-card-blur">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary radius-5 shadow float-none">Go somewhere</a>
        </div>
      </div>
      <xmp>
        <div class="card text-center">
          <div class="card-header bg-primary">
            <ul class="nav nav-border-bottom">
              <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text text-card-blur">With supporting text below as a natural lead-in to additional content.
            </p>
            <a href="#" class="btn btn-primary radius-5 shadow float-none">Go somewhere</a>
          </div>
        </div>
      </xmp>
      <div class="card text-center">
        <div class="card-header bg-primary">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text text-card-blur">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary radius-5 shadow float-none">Go somewhere</a>
        </div>
      </div>
      <xmp>
        <div class="card text-center">
          <div class="card-header bg-primary">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text text-card-blur">With supporting text below as a natural lead-in to additional content.
            </p>
            <a href="#" class="btn btn-primary radius-5 shadow float-none">Go somewhere</a>
          </div>
        </div>
      </xmp>
      <div class="card text-center">
        <div class="card-header bg-primary">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text text-card-blur">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary radius-5 shadow float-none">Go somewhere</a>
        </div>
      </div>
      <xmp>
        <div class="card text-center">
          <div class="card-header bg-primary">
            <ul class="nav nav-pills card-header-pills">
              <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text text-card-blur">With supporting text below as a natural lead-in to additional content.
            </p>
            <a href="#" class="btn btn-primary radius-5 shadow float-none">Go somewhere</a>
          </div>
        </div>
      </xmp>
      <h5>Image caps</h5>
      <div class="card mb-3">
        <img src="https://place-hold.it/1100x270/010157/FFFFFF" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <xmp>
        <div class="card mb-3">
          <img src="https://place-hold.it/1100x270/010157/FFFFFF" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </xmp>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <img src="https://place-hold.it/1100x270/010157/FFFFFF" class="card-img-top" alt="...">
      </div>
      <xmp>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
          <img src="https://place-hold.it/1100x270/010157/FFFFFF" class="card-img-top" alt="...">
        </div>
      </xmp>
      <h5>Image overlays</h5>
      <div class="card bg-dark text-white">
        <img src="https://place-hold.it/1100x270/010157/FFFFFF" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text text-159">This is a wider card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <xmp>
        <div class="card bg-dark text-white">
          <img src="https://place-hold.it/1100x270/010157/FFFFFF" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-159">This is a wider card with supporting text below as a natural lead-in to
              additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </xmp>
      <h5>Card Group</h5>
      <div class="card-group">
        <div class="card">
          <img src="https://place-hold.it/500x300/010157/FFFFFF" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-159">This is a wider card with supporting text below as a natural lead-in to
              additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="https://place-hold.it/500x300/010157/FFFFFF" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-159">This card has supporting text below as a natural lead-in to additional
              content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="https://place-hold.it/500x300/010157/FFFFFF" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-159">This is a wider card with supporting text below as a natural lead-in to
              additional
              content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
      <xmp>
        <div class="card-group">
          <div class="card">
            <img src="https://place-hold.it/500x300/010157/FFFFFF" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text text-159">This is a wider card with supporting text below as a natural lead-in to
                additional
                content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <img src="https://place-hold.it/500x300/010157/FFFFFF" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text text-159">This card has supporting text below as a natural lead-in to additional
                content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <img src="https://place-hold.it/500x300/010157/FFFFFF" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text text-159">This is a wider card with supporting text below as a natural lead-in to
                additional
                content. This card has even longer content than the first to show that equal height action.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </xmp>
      <h5>Card Decks</h5>
      <div class="card-deck">
        <div class="card">
          <img src="https://place-hold.it/500x300/010157/FFFFFF" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-159">This is a wider card with supporting text below as a natural lead-in to
              additional
              content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer text-center">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="https://place-hold.it/500x300/010157/FFFFFF" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-159">This card has supporting text below as a natural lead-in to additional
              content.</p>
          </div>
          <div class="card-footer text-center">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="https://place-hold.it/500x300/010157/FFFFFF" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-159">This is a wider card with supporting text below as a natural lead-in to
              additional
              content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer text-center">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <xmp>
        <div class="card-deck">
          <div class="card">
            <img src="https://place-hold.it/500x300/010157/FFFFFF" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text text-159">This is a wider card with supporting text below as a natural lead-in to
                additional
                content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer text-center">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
          <div class="card">
            <img src="https://place-hold.it/500x300/010157/FFFFFF" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text text-159">This card has supporting text below as a natural lead-in to additional
                content.</p>
            </div>
            <div class="card-footer text-center">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
          <div class="card">
            <img src="https://place-hold.it/500x300/010157/FFFFFF" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text text-159">This is a wider card with supporting text below as a natural lead-in to
                additional
                content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer text-center">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </xmp>
      <div class="col-12">
        <h5>Kitchen sink</h5>
        <div class="card" style="width: 60%;">
          <img src="https://place-hold.it/500x270/010157/FFFFFF" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-body text-right">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <xmp>
        <div class="card" style="width: 60%;">
          <img src="https://place-hold.it/500x270/010157/FFFFFF" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-body text-right">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </xmp>
      <h5>Titles, text, and links</h5>
      <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <div class="text-right">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <xmp>
        <div class="card" style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <div class="text-right">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </xmp>
      <h5>Using custom</h5>
      <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <div class="text-right">
            <a href="#" class="btn btn-primary radius-5 shadow">Go somewhere</a>
          </div>
        </div>
      </div>
      <xmp>
        <div class="card" style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <div class="text-right">
              <a href="#" class="btn btn-primary radius-5 shadow">Go somewhere</a>
            </div>
          </div>
        </div>
      </xmp>
      <h5>Text alignment</h5>
      <div class="text-left">
        <div class="card" style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary radius-5 shadow float-none">Go somewhere</a>
          </div>
        </div>
      </div>
      <xmp>
        <div class="text-left">
          <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary radius-5 shadow float-none">Go somewhere</a>
            </div>
          </div>
        </div>
      </xmp>
      <div class="text-center">
        <div class="card" style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary radius-5 shadow float-none">Go somewhere</a>
          </div>
        </div>
      </div>
      <xmp>
        <div class="text-center">
          <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary radius-5 shadow float-none">Go somewhere</a>
            </div>
          </div>
        </div>
      </xmp>
      <div class="text-right">
        <div class="card" style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary radius-5 shadow float-none">Go somewhere</a>
          </div>
        </div>
      </div>
      <xmp>
        <div class="text-right">
          <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary radius-5 shadow float-none">Go somewhere</a>
            </div>
          </div>
        </div>
      </xmp>
      <h5>Background & color</h5>
      <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card text-white bg-secondary mb-3" style="max-width: 25rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Secondary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card text-white bg-success mb-3" style="max-width: 25rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card text-white bg-danger mb-3" style="max-width: 25rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Danger card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card text-white bg-warning mb-3" style="max-width: 25rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Warning card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card text-white bg-info mb-3" style="max-width: 25rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Info card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card bg-light mb-3" style="max-width: 25rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Light card title</h5>
          <p class="card-text text-159">Some quick example text to build on the card title and make up the bulk of the
            card's
            content.</p>
        </div>
      </div>
      <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Dark card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <xmp>
        <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3" style="max-width: 25rem;">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Secondary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card text-white bg-success mb-3" style="max-width: 25rem;">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card text-white bg-danger mb-3" style="max-width: 25rem;">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card text-white bg-warning mb-3" style="max-width: 25rem;">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Warning card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card text-white bg-info mb-3" style="max-width: 25rem;">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 25rem;">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Light card title</h5>
            <p class="card-text text-159">Some quick example text to build on the card title and make up the bulk of the
              card's
              content.</p>
          </div>
        </div>
        <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </xmp>
      <h5>Border</h5>
      <div class="card border-primary mb-3" style="max-width: 25rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-primary">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card border-secondary mb-3" style="max-width: 25rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-secondary">
          <h5 class="card-title">Secondary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card border-success mb-3" style="max-width: 25rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-success">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card border-danger mb-3" style="max-width: 25rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-danger">
          <h5 class="card-title">Danger card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card border-warning mb-3" style="max-width: 25rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-warning">
          <h5 class="card-title">Warning card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card border-info mb-3" style="max-width: 25rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-info">
          <h5 class="card-title">Info card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card border-light mb-3" style="max-width: 25rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Light card title</h5>
          <p class="card-text text-159">Some quick example text to build on the card title and make up the bulk of the
            card's
            content.</p>
        </div>
      </div>
      <div class="card border-dark mb-3" style="max-width: 25rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-dark">
          <h5 class="card-title">Dark card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <xmp>
        <div class="card border-primary mb-3" style="max-width: 25rem;">
          <div class="card-header">Header</div>
          <div class="card-body text-primary">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card border-secondary mb-3" style="max-width: 25rem;">
          <div class="card-header">Header</div>
          <div class="card-body text-secondary">
            <h5 class="card-title">Secondary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card border-success mb-3" style="max-width: 25rem;">
          <div class="card-header">Header</div>
          <div class="card-body text-success">
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card border-danger mb-3" style="max-width: 25rem;">
          <div class="card-header">Header</div>
          <div class="card-body text-danger">
            <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card border-warning mb-3" style="max-width: 25rem;">
          <div class="card-header">Header</div>
          <div class="card-body text-warning">
            <h5 class="card-title">Warning card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card border-info mb-3" style="max-width: 25rem;">
          <div class="card-header">Header</div>
          <div class="card-body text-info">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card border-light mb-3" style="max-width: 25rem;">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Light card title</h5>
            <p class="card-text text-159">Some quick example text to build on the card title and make up the bulk of the
              card's
              content.</p>
          </div>
        </div>
        <div class="card border-dark mb-3" style="max-width: 25rem;">
          <div class="card-header">Header</div>
          <div class="card-body text-dark">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </xmp>
      <h5>Mixins utilities</h5>
      <div class="card border-primary mb-3" style="max-width: 25rem;">
        <div class="card-header bg-primary-blur text-42">Header</div>
        <div class="card-body text-primary">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="card-footer bg-primary-blur text-42">Footer</div>
      </div>
      <xmp>
        <div class="card border-primary mb-3" style="max-width: 25rem;">
          <div class="card-header bg-primary-blur text-42">Header</div>
          <div class="card-body text-primary">
            <h5 class="card-title">Puccess card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
          <div class="card-footer bg-primary-blur text-42">Footer</div>
        </div>
      </xmp>
    </div>
  </div>

</div>