---
layout: component
title: Color
permalink: /color/
---
<div class="container">
    <h1>Color</h1>
    <h5>Default</h5>
    <div class="p-3 mb-2 bg-primary text-white">.bg-primary</div>
    <div class="p-3 mb-2 bg-secondary text-white">.bg-secondary</div>
    <div class="p-3 mb-2 bg-success text-white">.bg-success</div>
    <div class="p-3 mb-2 bg-danger text-white">.bg-danger</div>
    <div class="p-3 mb-2 bg-warning text-dark">.bg-warning</div>
    <div class="p-3 mb-2 bg-info text-white">.bg-info</div>
    <div class="p-3 mb-2 bg-light text-dark">.bg-light</div>
    <div class="p-3 mb-2 bg-dark text-white">.bg-dark</div>
    <div class="p-3 mb-2 bg-white text-dark">.bg-white</div>
    <xmp>
        <div class="p-3 mb-2 bg-primary text-white">.bg-primary</div>
        <div class="p-3 mb-2 bg-secondary text-white">.bg-secondary</div>
        <div class="p-3 mb-2 bg-success text-white">.bg-success</div>
        <div class="p-3 mb-2 bg-danger text-white">.bg-danger</div>
        <div class="p-3 mb-2 bg-warning text-dark">.bg-warning</div>
        <div class="p-3 mb-2 bg-info text-white">.bg-info</div>
        <div class="p-3 mb-2 bg-light text-dark">.bg-light</div>
        <div class="p-3 mb-2 bg-dark text-white">.bg-dark</div>
        <div class="p-3 mb-2 bg-white text-dark">.bg-white</div>
    </xmp>
    <h5>Light Color</h5>
    <div class="p-3 mb-2 bg-primary-light text-dark">.bg-primary</div>
    <div class="p-3 mb-2 bg-secondary-light text-dark">.bg-secondary</div>
    <div class="p-3 mb-2 bg-success-light text-dark">.bg-success</div>
    <div class="p-3 mb-2 bg-danger-light text-dark">.bg-danger</div>
    <div class="p-3 mb-2 bg-warning-light text-dark">.bg-warning</div>
    <div class="p-3 mb-2 bg-info-light text-dark">.bg-info</div>
    <div class="p-3 mb-2 bg-light-light text-dark">.bg-light</div>
    <div class="p-3 mb-2 bg-dark-light text-dark">.bg-dark</div>
    <xmp>
        <div class="p-3 mb-2 bg-primary-light text-dark">.bg-primary</div>
        <div class="p-3 mb-2 bg-secondary-light text-dark">.bg-secondary</div>
        <div class="p-3 mb-2 bg-success-light text-dark">.bg-success</div>
        <div class="p-3 mb-2 bg-danger-light text-dark">.bg-danger</div>
        <div class="p-3 mb-2 bg-warning-light text-dark">.bg-warning</div>
        <div class="p-3 mb-2 bg-info-light text-dark">.bg-info</div>
        <div class="p-3 mb-2 bg-light-light text-dark">.bg-light</div>
        <div class="p-3 mb-2 bg-dark-light text-dark">.bg-dark</div>
    </xmp>
    <h5>Text color</h5>
    <p class="text-primary">.text-primary</p>
    <p class="text-secondary">.text-secondary</p>
    <p class="text-success">.text-success</p>
    <p class="text-danger">.text-danger</p>
    <p class="text-warning">.text-warning</p>
    <p class="text-info">.text-info</p>
    <p class="text-light bg-dark">.text-light</p>
    <p class="text-dark">.text-dark</p>
    <p class="text-body">.text-body</p>
    <p class="text-muted">.text-muted</p>
    <p class="text-white bg-dark">.text-white</p>
    <xmp>
        <p class="text-primary">.text-primary</p>
        <p class="text-secondary">.text-secondary</p>
        <p class="text-success">.text-success</p>
        <p class="text-danger">.text-danger</p>
        <p class="text-warning">.text-warning</p>
        <p class="text-info">.text-info</p>
        <p class="text-light bg-dark">.text-light</p>
        <p class="text-dark">.text-dark</p>
        <p class="text-body">.text-body</p>
        <p class="text-muted">.text-muted</p>
        <p class="text-white bg-dark">.text-white</p>
    </xmp>
    <h5>Text Link</h5>
    <a href="#">
        <p class="text-primary">Primary-link</p>
    </a>
    <a href="#">
        <p class="text-secondary">Secondary-link</p>
    </a>
    <a href="#">
        <p class="text-success">Success-link</p>
    </a>
    <a href="#">
        <p class="text-danger">Danger-link</p>
    </a>
    <a href="#">
        <p class="text-warning">Warning-link</p>
    </a>
    <a href="#">
        <p class="text-info">Info-link</p>
    </a>
    <a href="#">
        <p class="text-light bg-dark">Light-link</p>
    </a>
    <a href="#">
        <p class="text-dark">Dark-link</p>
    </a>
    <a href="#">
        <p class="text-muted">Muted-link</p>
    </a>
    <a href="#">
        <p class="text-white bg-dark">White-link</p>
    </a>
    <xmp>
        <a href="#">
            <p class="text-primary">Primary-link</p>
        </a>
        <a href="#">
            <p class="text-secondary">Secondary-link</p>
        </a>
        <a href="#">
            <p class="text-success">Success-link</p>
        </a>
        <a href="#">
            <p class="text-danger">Danger-link</p>
        </a>
        <a href="#">
            <p class="text-warning">Warning-link</p>
        </a>
        <a href="#">
            <p class="text-info">Info-link</p>
        </a>
        <a href="#">
            <p class="text-light bg-dark">Light-link</p>
        </a>
        <a href="#">
            <p class="text-dark">Dark-link</p>
        </a>
        <a href="#">
            <p class="text-muted">Muted-link</p>
        </a>
        <a href="#">
            <p class="text-white bg-dark">White-link</p>
        </a>
    </xmp>
    <h5>Border</h5>
    <div class="bd-example-border-utils">
        <div class="bd-example">
            <span class="border border-primary"></span>
            <span class="border border-secondary"></span>
            <span class="border border-success"></span>
            <span class="border border-danger"></span>
            <span class="border border-warning"></span>
            <span class="border border-info"></span>
            <span class="border border-light"></span>
            <span class="border border-dark"></span>
            <span class="border border-white"></span>
        </div>
    </div>
    <xmp>
        <span class="border border-primary"></span>
        <span class="border border-secondary"></span>
        <span class="border border-success"></span>
        <span class="border border-danger"></span>
        <span class="border border-warning"></span>
        <span class="border border-info"></span>
        <span class="border border-light"></span>
        <span class="border border-dark"></span>
        <span class="border border-white"></span>
    </xmp>
    <h5>Border radius</h5>
    <img src="https://place-hold.it/75x75/868E96" alt="..." class="rounded">
    <img src="https://place-hold.it/75x75/868E96" alt="..." class="rounded-top">
    <img src="https://place-hold.it/75x75/868E96" alt="..." class="rounded-right">
    <img src="https://place-hold.it/75x75/868E96" alt="..." class="rounded-bottom">
    <img src="https://place-hold.it/75x75/868E96" alt="..." class="rounded-left">
    <img src="https://place-hold.it/75x75/868E96" alt="..." class="rounded-circle">
    <img src="https://place-hold.it/75x75/868E96" alt="..." class="rounded-0">
    <xmp>
        <img src="https://place-hold.it/75x75/868E96" alt="..." class="rounded">
        <img src="https://place-hold.it/75x75/868E96" alt="..." class="rounded-top">
        <img src="https://place-hold.it/75x75/868E96" alt="..." class="rounded-right">
        <img src="https://place-hold.it/75x75/868E96" alt="..." class="rounded-bottom">
        <img src="https://place-hold.it/75x75/868E96" alt="..." class="rounded-left">
        <img src="https://place-hold.it/75x75/868E96" alt="..." class="rounded-circle">
        <img src="https://place-hold.it/75x75/868E96" alt="..." class="rounded-0">
    </xmp>
</div>