---
layout: component
title: Form
permalink: /form/
---
<div class="container">
    <h5>Form controls</h5>
        <div class="form-group">
            <label for="exampleInputEmail1">Text</label>
            <input type="text" class="form-control" id="exampleInputEmail1" value="Lorem ipsum">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Phone</label>
            <input type="number" class="form-control" id="exampleInputEmail2" placeholder="0123456789">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Date</label>
            <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input class="form-control" type="password" value="2011-08-19" id="example-date-input">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Messenger</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <xmp>
            <div class="form-group">
                <label for="exampleInputEmail1">Text</label>
                <input type="text" class="form-control" id="exampleInputEmail1" value="Lorem ipsum">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Phone</label>
                <input type="number" class="form-control" id="exampleInputEmail2" placeholder="0123456789">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Date</label>
                <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input class="form-control" type="password" value="2011-08-19" id="example-date-input">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Messenger</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </xmp>

        <div class="form-group">
            <label for="exampleInputPassword1">Example select</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect2">Example multiple select</label>
            <select multiple class="form-control" id="exampleFormControlSelect2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <xmp>
            <div class="form-group">
                <label for="exampleInputPassword1">Example select</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect2">Example multiple select</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </xmp>
    <h5>Sizing</h5>
    <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg">
    <input class="form-control" type="text" placeholder="Default input">
    <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm">
    <xmp>
        <h5>Sizing</h5>
        <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg">
        <input class="form-control" type="text" placeholder="Default input">
        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm">
    </xmp>
    <h5>Readonly</h5>
    <input class="form-control" type="text" placeholder="Readonly input here…" readonly>
    <xmp>
        <input class="form-control" type="text" placeholder="Readonly input here…" readonly>
    </xmp>
    <h5>Readonly plain text</h5>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
        </div>
        <form class="form-inline">
            <div class="form-group mb-2">
                <label for="staticEmail2" class="sr-only">Email</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Password</label>
                <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
            </div>
        </form>
    <xmp>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
        </div>
        <form class="form-inline">
            <div class="form-group mb-2">
                <label for="staticEmail2" class="sr-only">Email</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Password</label>
                <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
            </div>
        </form>
    </xmp>
    <h5>Range Inputs</h5>
    <label for="customRange1">Example range</label>
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
    <input type="range" min="1" max="100" value="50" class="slider active" id="myRange">
    <xmp>
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        <input type="range" min="1" max="100" value="50" class="slider active" id="myRange">
    </xmp>
    <h5>Checkboxes & radio</h5>
    <div class="custom-control custom-checkbox large-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label un-position" for="customCheck1">Check this custom checkbox</label>
    </div>
    <div class="custom-control custom-checkbox large-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
        <label class="custom-control-label un-position" for="customCheck1">Checked</label>
    </div>
    <div class="custom-control custom-checkbox large-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck1" disabled>
        <label class="custom-control-label un-position" for="customCheck1">Disabled</label>
    </div>
    <xmp>
        <div class="custom-control custom-checkbox large-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label un-position" for="customCheck1">Check this custom checkbox</label>
        </div>
        <div class="custom-control custom-checkbox large-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
            <label class="custom-control-label un-position" for="customCheck1">Checked</label>
        </div>
        <div class="custom-control custom-checkbox large-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1" disabled>
            <label class="custom-control-label un-position" for="customCheck1">Disabled</label>
        </div>
    </xmp>
    <div class="d-flex justify-content-start">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck11">
            <label class="custom-control-label" for="customCheck11">1</label>
        </div>
        <div class="custom-control custom-checkbox" style="padding-left: 50px">
            <input type="checkbox" class="custom-control-input" id="customCheck22" checked>
            <label class="custom-control-label" for="customCheck22">2</label>
        </div>
        <div class="custom-control custom-checkbox" style="padding-left: 50px">
            <input type="checkbox" class="custom-control-input" id="customCheck33" disabled>
            <label class="custom-control-label" for="customCheck33">3</label>
        </div>
    </div>
    <xmp>
        <div class="d-flex justify-content-start">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck11">
                <label class="custom-control-label" for="customCheck11">1</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck22" checked>
                <label class="custom-control-label" for="customCheck22">2</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck33" disabled>
                <label class="custom-control-label" for="customCheck33">3</label>
            </div>
        </div>
    </xmp>
    <div class="custom-control custom-radio">
        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
        <label class="custom-control-label" for="customRadio1">Uncheck</label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" checked>
        <label class="custom-control-label" for="customRadio2">Checked</label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" disabled>
        <label class="custom-control-label" for="customRadio3">Disabled</label>
    </div>
    <xmp>
        <div class="custom-control custom-radio">
            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio1">Uncheck</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" checked>
            <label class="custom-control-label" for="customRadio2">Checked</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" disabled>
            <label class="custom-control-label" for="customRadio3">Disabled</label>
        </div>
    </xmp>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline1">1</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input" checked>
        <label class="custom-control-label" for="customRadioInline2">2</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input" disabled>
        <label class="custom-control-label" for="customRadioInline3">3</label>
    </div>
    <xmp>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline1">1</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input" checked>
            <label class="custom-control-label" for="customRadioInline2">2</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input" disabled>
            <label class="custom-control-label" for="customRadioInline3">3</label>
        </div>
    </xmp>
    <h5>Form Groups</h5>
    <form>
        <div class="form-group">
            <label for="formGroupExampleInput">Email</label>
            <input type="email" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Password</label>
            <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
        </div>
    </form>
    <xmp>
        <form>
            <div class="form-group">
                <label for="formGroupExampleInput">Email</label>
                <input type="email" class="form-control" id="formGroupExampleInput" placeholder="Example input">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Password</label>
                <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
            </div>
        </form>
    </xmp>
    <h5>Form grid</h5>
    <form>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Last name">
            </div>
        </div>
    </form>
    <xmp>
        <form>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last name">
                </div>
            </div>
        </form>
    </xmp>
    <h5>Form row</h5>
    <form>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Last name">
            </div>
        </div>
    </form>
    <xmp>
        <form>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last name">
                </div>
            </div>
        </form>
    </xmp>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Password</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-6">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck111">
                <label class="custom-control-label" for="customCheck111">Checked</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary float-right">Sign in</button>
    </form>
    <xmp>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputState">State</label>
                    <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck111">
                    <label class="custom-control-label" for="customCheck111">Checked</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">Sign in</button>
        </form>
    </xmp>
    <h5>Horizontal Form</h5>
    <form>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                <div class="col-sm-10">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio123" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio123">Uncheck</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio223" name="customRadio" class="custom-control-input" checked>
                        <label class="custom-control-label" for="customRadio223">Checked</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio323" name="customRadio" class="custom-control-input" disabled>
                        <label class="custom-control-label" for="customRadio323">Disabled</label>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <div class="col-sm-2">Checkbox</div>
            <div class="col-sm-10">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck32">
                    <label class="custom-control-label" for="customCheck32">Checked</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary float-right">Sign in</button>
            </div>
        </div>
    </form>
    <xmp>
        <form>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                    <div class="col-sm-10">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio123" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio123">Uncheck</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio223" name="customRadio" class="custom-control-input" checked>
                            <label class="custom-control-label" for="customRadio223">Checked</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio323" name="customRadio" class="custom-control-input" disabled>
                            <label class="custom-control-label" for="customRadio323">Disabled</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group row">
                <div class="col-sm-2">Checkbox</div>
                <div class="col-sm-10">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck32">
                        <label class="custom-control-label" for="customCheck32">Checked</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary float-right">Sign in</button>
                </div>
            </div>
        </form>
    </xmp>
    <h5>Auto-sizing</h5>
    <form>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInput">Name</label>
                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Jane Doe">
            </div>
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">Username</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-primary text-white border-primary">@</div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
                </div>
            </div>
            <div class="col-auto">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1112">
                    <label class="custom-control-label" for="customCheck1112">Checked</label>
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
        </div>
    </form>
    <xmp>
        <form>
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput">Name</label>
                    <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Jane Doe">
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Username</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-primary text-white border-primary">@</div>
                        </div>
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1112">
                        <label class="custom-control-label" for="customCheck1112">Checked</label>
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </div>
            </div>
        </form>
    </xmp>
    <form>
        <div class="form-row align-items-center">
            <div class="col-auto my-1">
                <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-auto my-1">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck11123">
                    <label class="custom-control-label" for="customCheck11123">Checked</label>
                </div>
            </div>
            <div class="col-auto my-1">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
    <xmp>
        <form>
            <div class="form-row align-items-center">
                <div class="col-auto my-1">
                    <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                        <option selected>Choose...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-auto my-1">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck11123">
                        <label class="custom-control-label" for="customCheck11123">Checked</label>
                    </div>
                </div>
                <div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </xmp>
    <h5>Help text</h5>
    <label for="inputPassword5">Password</label>
    <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
    <small id="passwordHelpBlock" class="form-text text-muted">
        Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
    </small>
    <form class="form-inline">
        <div class="form-group">
            <label for="inputPassword6">Password</label>
            <input type="password" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
            <small id="passwordHelpInline" class="text-muted">
                Must be 8-20 characters long.
            </small>
        </div>
    </form>
    <xmp>
        <label for="inputPassword5">Password</label>
        <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
        <small id="passwordHelpBlock" class="form-text text-muted">
            Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
        </small>
        <form class="form-inline">
            <div class="form-group">
                <label for="inputPassword6">Password</label>
                <input type="password" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
                <small id="passwordHelpInline" class="text-muted">
                    Must be 8-20 characters long.
                </small>
            </div>
        </form>
    </xmp>
    <h5>Disabled forms</h5>
    <fieldset disabled>
        <div class="form-group">
            <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
        </div>
    </fieldset>
    <xmp>
        <fieldset disabled>
            <div class="form-group">
                <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
            </div>
        </fieldset>
    </xmp>
    <h5>Server side</h5>
    <form class="needs-validation" novalidate>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">First name</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="Mark" required>
                <div class="valid-feedback">
                    <i class="icon-check-circle"> </i> Looks good!
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Last name</label>
                <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
                <div class="valid-feedback">
                    <i class="icon-check-circle"> </i>Looks good!
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <label for="validationCustomUsername">Username</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        <i class="icon-alert-circle"> </i> Please choose a username.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-8 mb-3">
                <label for="validationCustom03">City</label>
                <input type="text" class="form-control" id="validationCustom03" placeholder="City" required>
                <div class="invalid-feedback">
                    <i class="icon-alert-circle"> </i> Please provide a valid city.
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="invalidCheck">
                    <label class="custom-control-label" for="invalidCheck">Checked</label>
                </div>
                <div class="invalid-feedback">
                    <i class="icon-alert-circle"> </i> You must agree before submitting.
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
    <xmp>
        <form class="needs-validation" novalidate>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationCustom01">First name</label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="Mark" required>
                    <div class="valid-feedback">
                        <i class="icon-check-circle"> </i> Looks good!
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationCustom02">Last name</label>
                    <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
                    <div class="valid-feedback">
                        <i class="icon-check-circle"> </i>Looks good!
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="validationCustomUsername">Username</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                            <i class="icon-alert-circle"> </i> Please choose a username.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-8 mb-3">
                    <label for="validationCustom03">City</label>
                    <input type="text" class="form-control" id="validationCustom03" placeholder="City" required>
                    <div class="invalid-feedback">
                        <i class="icon-alert-circle"> </i> Please provide a valid city.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="invalidCheck">
                        <label class="custom-control-label" for="invalidCheck">Checked</label>
                    </div>
                    <div class="invalid-feedback">
                        <i class="icon-alert-circle"> </i> You must agree before submitting.
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit form</button>
        </form>
        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function() {
                'use strict';
                window.addEventListener('load', function() {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function(form) {
                        form.addEventListener('submit', function(event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
    </xmp>
    <h3>New style</h3>
    <h5>Form line with icon</h5>
    <div class="input-group border-under mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="icon-user"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group border-under mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="icon-lock"></i></span>
        </div>
        <input type="password" class="form-control" placeholder="Username" aria-label="Password" aria-describedby="basic-addon1">
    </div>
    <div class="input-group border-under mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="icon-mail"></i></span>
        </div>
        <input type="email" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="form-group has-icon">
        <span class="icon icon-eye-off toggle-password icon-eye"></span>
        <input type="text" class="form-control" placeholder="Password">
    </div>
    <div class="form-group has-icon">
        <span class="icon icon-eye-off toggle-password"></span>
        <input type="password" class="form-control" placeholder="Password">
    </div>
    <xmp>
        <div class="input-group border-under mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="icon-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group border-under mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="icon-lock"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="Username" aria-label="Password" aria-describedby="basic-addon1">
        </div>
        <div class="input-group border-under mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="icon-mail"></i></span>
            </div>
            <input type="email" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="form-group has-icon">
            <span class="icon icon-eye-off toggle-password icon-eye"></span>
            <input type="text" class="form-control" placeholder="Password">
        </div>
        <div class="form-group has-icon">
            <span class="icon icon-eye-off toggle-password"></span>
            <input type="password" class="form-control" placeholder="Password">
        </div>
    </xmp>
    <h5>Pill input</h5>
    <div class="form-group">
        <label for="exampleInputPassword1">Email</label>
        <input type="email" class="form-control radius-5" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control radius-5" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter password">
    </div>
    <xmp>
        <div class="form-group">
            <label for="exampleInputPassword1">Email</label>
            <input type="email" class="form-control radius-5" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control radius-5" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter password">
        </div>
    </xmp>
    <h5>Switches</h5>
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="customSwitch1">
        <label class="custom-control-label" for="customSwitch1"></label>
    </div>
    <xmp>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1"></label>
        </div>
    </xmp>
    <h3>Tag</h3>
    <h5>Single</h5>
    <select id="state" class="js-example-basic-single" type="text" style="width:90%">
        <option value="AL">Alabama</option>
        <option value="WY">Wyoming</option>
        <option value="WY">Alabming</option>
    </select>
    <xmp>
        <select id="state" class="js-example-basic-single" type="text" style="width:90%">
            <option value="AL">Alabama</option>
            <option value="WY">Wyoming</option>
            <option value="WY">Alabming</option>
        </select>
        (document).ready(function() {
            $("#state").select2({
            tags: true
            })
        });
    </xmp>
    <hr>
   <h5>Multi</h5>
    <select id="stateMulti" class="js-example-basic-single" type="text" style="width:90%" multiple="multiple">
        <option value="AL">Alabama</option>
        <option value="WY">Wyoming</option>
        <option value="WY">Alabming</option>
    </select>
    <xmp>
        <select id="stateMulti" class="js-example-basic-single" type="text" style="width:90%" multiple="multiple">
            <option value="AL">Alabama</option>
            <option value="WY">Wyoming</option>
            <option value="WY">Alabming</option>
        </select>
        (document).ready(function() {
            $("#stateMulti").select2({
            tags: true
            })
        });
    </xmp>
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>